header,
.celebrity,
.add-celebrity {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

header {
	nav {
		background-image: linear-gradient(rgba($black, 0.9), transparent);
	}

	.up {
		background-color: rgba($aqua, 0.7);
	}

	.down {
		background-color: rgba($gold, 0.7);
	}
}

.up {
	background-color: $aqua;
}

.down {
	background-color: $gold;
}

.text,
.closing .title {
	background-color: rgba($black, 0.7);
}

.days {
	background-color: rgba($gray, 0.7);
}
	
.message {
	background-color: $gray;
}

.popular {
	h3::before {
		content: "";
		display: inline-block;
		width: 2 * $base-line-height;
		height: 2 * $base-line-height;
		background-color: $aqua;
		background-image: url('../img/up.png');
		background-size: cover;
		background-position: center;
	}
}

.unpopular {
	h3::before {
		content: "";
		display: inline-block;
		width: 2 * $base-line-height;
		height: 2 * $base-line-height;
		background-color: $gold;
		background-image: url('../img/down.png');
		background-size: cover;
		background-position: center;
	}
}

.celebrity {
	section {
		background-image: linear-gradient(transparent, black);
	}
}

.percentage-up {
	background-color: rgba($aqua, 0.7);
}

.percentage-down {
	background-color: rgba($gold, 0.7);
}

.add-celebrity {
	background-image: url('../img/people.png');

	section {
		background-color: rgba(255,255,255,0.7);
	}
}