// Font family
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
	font-family: 'Lato', sans-serif;
}

// Font weights
h1, h2, h3, strong {
	font-weight: 700;
}

// Font colors
body,
.days {
	color: $black;
}

header,
.celebrity {
	color: white;
}