// Font family
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
	font-family: 'Lato', sans-serif;
}

// Font weights
h1, h2, h3, strong {
	font-weight: 400;
}

p {
	font-weight: 300;
}

.pretitle {
	font-weight: 300;
}

.votes,
.add-celebrity {
	h2 {
		font-weight: 300;
	}
}

.add-celebrity {
	button {
		font-weight: 400;
	}
}

// Font colors
body,
.days {
	color: $black;
}

header,
.celebrity {
	color: white;
}

// Text decorations
.more p {
	text-decoration: underline;
}

// Text transforms
nav,
.veredict,
.add-celebrity button,
.social h2 {
	text-transform: capitalize;
}

.closing h2 {
	text-transform: uppercase;
}