// Vars
// Break points
$bp-1: 680px;
$bp-2: 1020px;
$bp-3: 1360px;

// Mixins
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

// General
* {
	box-sizing: border-box;
}

// Text
$text-max-width: $base-font-size * 30;

p {
	max-width: $text-max-width;
}

.pretitle {
	margin-bottom: 0;
}

// Icons
.icon {
	height: $base-font-size * 2.25;
}

nav {
	.icon {
		height: $base-font-size * 1.5;
	}
}

.more {
	.icon {
		height: $base-font-size;
	}
}

// Buttons
button {
	height: $base-line-height * 2;
	border: 0;
	padding: 0 $base-line-height;
	background-color: transparent;
	color: white;
	cursor: pointer;
}

.up {
	border: 2px solid $aqua;
}

.down {
	border: 2px solid $gold;
}

.featured {
	.thumbs {
		display: flex;

		button {
			flex: 1 0 auto;
			height: $base-line-height * 3;
		}
	}

	.up {
		border: none;
	}

	.down {
		border: none;
	}
}

// Containers
.container {
	@include clearfix;
	max-width: $bp-2;
	margin: 0 auto;
}

nav,
.featured .text,
.message {
	@include clearfix;
	padding: $base-line-height $base-line-height 0;
}

nav {
	margin-bottom: $base-line-height;
	
	ul {
		
		h1 {
			margin-bottom: 0;
		}

		@media only screen and (min-width: $bp-2) {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;

			li {
				padding: $base-line-height;
			}

			.logo {
				margin-right: auto;
			}

			li:first-child {
				padding-left: 0;
			}

			li:last-child {
				padding-right: 0;
			}
		}
	}

	@media only screen and (min-width: $bp-2) {
		padding: 0;
	}
		
}

.container > .featured {
	margin-bottom: $base-line-height;

	@media only screen and (min-width: $bp-2) {
		max-width: 370px;
		margin-bottom: $base-line-height * 3;

		.text {
			padding-top: $base-line-height * 2;	
		}

		.veredict {
			margin-bottom: $base-line-height * 2;
		}

	}
	
}

.more {
	
	margin-bottom: $base-line-height;

	p {
		display: inline-block;
	}
}

.container > section {
	margin-bottom: $base-line-height;
}

.closing {
	display: flex;

	.title {
		flex: 1 0 33%;

		display: flex;
		align-items: center;

		padding: $base-line-height * 0.5 $base-line-height;
		justify-content: flex-end;

		h2 {
			margin-bottom: 0;
		}
	}

	.days {
		flex: 1 0 66%;

		display: flex;
		align-items: center;

		padding: $base-line-height * 0.5 $base-line-height;

		p {
			margin-bottom: 0;
		}
	}
}

main {
	@include clearfix;
}

.message {
	position: relative;

	.icon {
		height: $base-font-size;
		position: absolute;
		top: $base-line-height;
		right: $base-line-height;
	}

	@media only screen and (min-width: $bp-2) {
		margin-top: $base-line-height * 2;

		display: flex;
		justify-content: space-between;
	}
}

.votes {
	h2 {
		padding: 0 $base-line-height;

		@media only screen and (min-width: $bp-2) {
			padding: 0;
		}
	}
}

.celebrities {
	@media only screen and (min-width: $bp-2) {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		.celebrity {
			flex: 0 0 48%;
			margin-bottom: $base-line-height * 2;

			display: flex;
			align-items: flex-end;
		}
	}
}

.celebrity {
	section {
		width: 100%;
	}

	.wrapper {
		padding: $base-line-height * 15 $base-line-height * 2 0;
	}

	h3 {
		margin-bottom: 0;
	}

	.description {
		height: $base-line-height * 2;
		overflow: hidden;
		margin-bottom: $base-line-height;
	}

	.icon {
		height: $base-font-size * 1.5;
	}
}

.vote-section {
	display: flex;
	flex-flow: row wrap;
	margin-bottom: $base-line-height;

	.thumbs {
		margin-right: $base-line-height;
		margin-bottom: $base-line-height;
	}

	.up,
	.down {
		padding: 0 $base-line-height * 0.5;
	}

	
}

.vote {
	border: 1px solid white;
}

.thankyou {
	margin-bottom: $base-line-height * 2;

	p {
		margin-bottom: $base-line-height * 2;
	}
}

.percentage-bar {

	div {
		padding: 0;
		overflow: hidden;
		float: left;
	}

	.percentage-down {
		text-align: right;
	}
}

.container > .add-celebrity {
	
	margin-bottom: $base-line-height * 2;

	div {
		padding: $base-line-height $base-line-height 0;

		@media only screen and (min-width: $bp-1) {
			display: flex;
			justify-content: space-between;
			align-items: center;

			h2 {
				flex: 1 0 50%;
				margin-right: $base-line-height;
			}

			button {
				flex: 0 0 auto;
			}
		}
	}

	button {
		border: 2px solid $black;
		color: $black;
		margin-bottom: $base-line-height;
	}
}

footer {
	.container {

		border-top: 1px dotted $black;
		padding-top: $base-line-height * 2;

		&:after {
			display: none;
		}

		@media only screen and (min-width: $bp-2) {
			display: flex;
			justify-content: space-between;
		} 
			
	}
}

.social {
	padding: $base-line-height $base-line-height 0;

	h2,
	ul,
	li {
		display: inline-block;
	}

	h2 {
		margin-right: $base-line-height;
	}

	li {
		margin-right: $base-line-height;
	}

	img {
		vertical-align: middle;
		height: $base-line-height;
	}

	@media only screen and (min-width: $bp-2) {
		padding: $base-line-height 0 0;
	}
}
