// Varibales
$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$type-scale: (
  -1: 0.75rem,  // small text
  0: 1rem,      // body text
  1: 1.333rem,  // large text
  2: 1.777rem,   // main heading
  3: 2.369rem
);

$line-heights: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2,
  3: $base-line-height * 2
);


// Mixins
@mixin type-setting($level: 0) {
  font-size: map-get($type-scale, $level);
  line-height: map-get($line-heights, $level);
}

// Settings
p, li, button {@include type-setting(0)}

h3 {@include type-setting(1)}

h2 {@include type-setting(2)}

h1 {@include type-setting(3)}

h1, h2, h3, p, li {
	margin-bottom: $base-line-height;
}