// Varibales
$base-font-size: 1rem;
$base-line-height: $base-font-size * 1.25;

$type-scale: (
  -1: 0.667rem,  // small text
  0: 1rem,      // body text
  1: 1.5rem,  // large text
  2: 2.25rem,   // main heading
  3: 3.375rem
);

$line-heights: (
  -1: $base-line-height,
  0: $base-line-height,
  1: $base-line-height * 2,
  2: $base-line-height * 2,
  3: $base-line-height * 3
);


// Mixins
@mixin type-setting($level: 0) {
  font-size: map-get($type-scale, $level);
  line-height: map-get($line-heights, $level);
}

// Default settings
p, li, button {@include type-setting(0)}

h3 {@include type-setting(1)}

h2 {@include type-setting(2)}

h1 {@include type-setting(3)}

h1, h2, h3, p, li {
	margin-bottom: $base-line-height;
}

// Specific type settings
li {
  h1 {@include type-setting(1)}
}

.pretitle {@include type-setting(0)}

.featured {
  h2 {@include type-setting(3)}
  .veredict {@include type-setting(1)}
}

.closing {
  h2 {@include type-setting(0)}
  p {@include type-setting(2)}
}

.celebrity {
  h3 {@include type-setting(2)}
}

.percentage-bar {
  div {@include type-setting(1)}
}

.social {
  h2 {@include type-setting(0)}
}

