/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1, h2, h3, strong {
  font-weight: 700;
}

li h1 {
  font-weight: 400;
}

.pretitle {
  font-weight: 400;
}

.votes h2,
.add-celebrity h2 {
  font-weight: 400;
}

.add-celebrity button {
  font-weight: 700;
}

.social h2 {
  font-weight: 400;
}

body,
.days {
  color: #333333;
}

header,
.celebrity {
  color: white;
}

p, li, button {
  font-size: 1rem;
  line-height: 1.25rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h1 {
  font-size: 3.375rem;
  line-height: 3.75rem;
}

h1, h2, h3, p, li {
  margin-bottom: 1.25rem;
}

li h1 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.pretitle {
  font-size: 1rem;
  line-height: 1.25rem;
}

.featured h2 {
  font-size: 3.375rem;
  line-height: 3.75rem;
}
.featured .veredict {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.closing h2 {
  font-size: 1rem;
  line-height: 1.25rem;
}
.closing p {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.celebrity h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.percentage-bar div {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.social h2 {
  font-size: 1rem;
  line-height: 1.25rem;
}

* {
  box-sizing: border-box;
}

p {
  max-width: 30rem;
}

.pretitle {
  margin-bottom: 0;
}

.icon {
  height: 2.25rem;
}

nav .icon {
  height: 1.5rem;
}

.more .icon {
  height: 1rem;
}

button {
  height: 2.5rem;
  border: 0;
  padding: 0 1.25rem;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.featured .thumbs {
  display: flex;
}
.featured .thumbs button {
  flex: 1 0 auto;
  height: 3.75rem;
}

nav,
.featured .text,
.message {
  padding: 1.25rem 1.25rem 0;
}
nav:after,
.featured .text:after,
.message:after {
  content: "";
  display: table;
  clear: both;
}

nav {
  margin-bottom: 1.25rem;
}

.featured {
  margin-bottom: 1.25rem;
}

main > section {
  margin-bottom: 1.25rem;
}

.closing {
  display: flex;
}
.closing div {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  padding: 0.625rem 1.25rem;
}
.closing div h2,
.closing div p {
  margin-bottom: 0;
}
.closing .title {
  justify-content: flex-end;
}

.message {
  position: relative;
}
.message .icon {
  height: 1rem;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
}

.votes h2 {
  padding: 0 1.25rem;
}

.celebrity .wrapper {
  padding: 18.75rem 2.5rem 0;
}
.celebrity h3 {
  margin-bottom: 0;
}
.celebrity .description {
  height: 2.5rem;
  overflow: hidden;
  margin-bottom: 1.25rem;
}
.celebrity .icon {
  height: 1.5rem;
}

.vote-section {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1.25rem;
}
.vote-section .thumbs {
  margin-right: 1.25rem;
  margin-bottom: 1.25rem;
}
.vote-section .up,
.vote-section .down {
  padding: 0 0.625rem;
}
.vote-section .vote {
  border: 1px solid white;
}

.percentage-bar {
  display: flex;
}
.percentage-bar div {
  flex: 1 0 auto;
  padding: 0 0.625rem;
}
.percentage-bar .percentage-down {
  text-align: right;
}

.add-celebrity div {
  padding: 1.25rem 1.25rem 0;
}
.add-celebrity button {
  border: 2px solid #333333;
  color: #333333;
  margin-bottom: 1.25rem;
}

.social {
  padding: 1.25rem 1.25rem 0;
}
.social h2,
.social ul,
.social li {
  display: inline-block;
}
.social h2 {
  margin-right: 1.25rem;
}
.social li {
  margin-right: 1.25rem;
}
.social img {
  vertical-align: middle;
  height: 2rem;
}

header,
.celebrity,
.add-celebrity {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header nav {
  background-image: linear-gradient(rgba(51, 51, 51, 0.9), transparent);
}
header .up {
  background-color: rgba(28, 187, 180, 0.7);
}
header .down {
  background-color: rgba(255, 173, 29, 0.7);
}

.up {
  background-color: #1CBBB4;
}

.down {
  background-color: #FFAD1D;
}

.text,
.closing .title {
  background-color: rgba(51, 51, 51, 0.7);
}

.days {
  background-color: rgba(235, 235, 235, 0.7);
}

.message {
  background-color: #EBEBEB;
}

.celebrity h3 {
  position: relative;
}
.celebrity h3::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 6px;
  left: -40px;
  width: 30px;
  height: 30px;
  background-color: #1CBBB4;
  background-image: url("../img/up.png");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.unpopular h3::before {
  background-color: #FFAD1D;
  background-image: url("../img/down.png");
}

.celebrity section {
  background-image: linear-gradient(transparent, black);
}

.percentage-up {
  background-color: rgba(28, 187, 180, 0.7);
}

.percentage-down {
  background-color: rgba(255, 173, 29, 0.7);
}

.add-celebrity {
  background-image: url("../img/people.png");
}
.add-celebrity div {
  background-color: rgba(255, 255, 255, 0.7);
}

/*# sourceMappingURL=stylesheet.css.map */
